# ---- Keep Biovid data private ----
data/

# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# OS / editor junk
.DS_Store
.vscode/
